div {
    margin: 10px;
  }
  .first-task {
    background-color: pink;
    border: 2px solid blue;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .second-task {
    background-color: rgb(113, 187, 187);
    border: 2px solid purple;
  }
  .third-task {
    background-color: bisque;
    border: 2px solid brown;
    padding: 50px;
    margin-left: 200px;
  }