* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  background-color:lightblue;
  padding: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  font-weight: bold;
  font-size: 45px;
}

.box:nth-child(1) {
  grid-column: 1/2;
}

.box:nth-child(2) {
  grid-column: 2/3;
}

.box:nth-child(3) {
  grid-column: 3/4;
}

.box:nth-child(4) {
  grid-row: 2/3;
}

.box:nth-child(5) {
    grid-row: 2/3;
}

.box:nth-child(6) {
    grid-row: 2/3;
}

.box:nth-child(7) {
    grid-row: 2/3;
}