*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
   background-color: #252B42;
   height: 91px;
   display: flex;
   padding: 30px 195px;
   color: #FFF;
   justify-content: space-between;
   align-items: center;
   gap: 83px;
}

.navbar, .navbar ul, .navbar .register-side{
    display: flex;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    flex-grow: 1;
}

.navbar ul {
    gap: 21px;
}

.navbar ul a, .navbar .register-side a {
    color: #fff;
}

.navbar .register-side {
    gap: 45px;
}

.register-side button {
    display: flex;
    gap: 15px;
    padding: 15px 25px;
    background-color: #23A6F0;
    align-items: center;
    border: none;
    border-radius: 5px;
}

.register-side button span {
    font-weight: 700;
    color: #fff;
}

/* Main */

.main {
    background: #252B42 url(../images/blob.svg);
    background-size: cover;
    height: calc(847px - 91px);
    padding: 170px 120px 80px 195px;
    display: flex;
    column-gap: 70px;
}

.main-content {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 35px;
}

.main-img {
    display: flex;
    justify-content: end;
}

.main-img img {
    width: 471px;
}
.main h1{
    color: var(--light-text-color, #FFF);
    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 137.931% */
    letter-spacing: 0.2px;
    width: 509px;
}
.main p{
color: var(--light-text-color, #FFF);
/* h4 */
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
letter-spacing: 0.2px;
}
.main-img{
    width: 471px;
}
.main-buttons{
    display: flex;
}
.main button:first-child{
    color: var(--light-text-color, #FFF);
    background: var(--primary-color, #23A6F0);
text-align: center;
/* btn-text */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 157.143% */
letter-spacing: 0.2px;
padding: 16px 36px;
border-radius: 37px;
border: none;
}
.main button:last-child{
    color: var(--light-text-color, #FFF);
    background: var(--primary-color, transparent);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 157.143% */
letter-spacing: 0.2px;
padding: 16px 36px;
border-radius: 37px;
border: 1px solid #fff;
}
/* Section one  */
.section-one{
    background-color: #252B42;
    padding: 96px 196px;
    height: 100vh;
}
.section-one .section-title h2{
    color: var(--light-text-color, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}
.section-one .section-title p{
    color: var(--second-text-color, #737373);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}
.section-one .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    gap: 30px;
}
.section-one .card .card-item{
    border: 1px solid #fff;
    padding: 30px 20px;
    display: flex;
    gap: 20px;
}
.section-one .card .card-item h5,p{
    color: #FFF;
}
.section-one .card .card-item p{
    font-size: 14px;
}

.section-two{
    background-color: #252B42;
    padding-bottom: 191px;
}

.section-two h2{
    color: var(--light-text-color, #FFF);
text-align: center;
/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
padding: 5px 0;
}
.section-two p{
    color: var(--light-text-color, #FFF);
text-align: center;
/* paragraph */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
padding: 5px 0;
}
.section-two .img{
    display: flex;
    justify-content: center;
}

.section3{
    padding: 0 196px;
    background-color: #252B42;
    text-align: center;
}
.section3 h2{
    color: var(--light-text-color, #FFF);
text-align: center;

/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}
.sec3-card-item{
    display: flex;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
}
.section3-card{
    display: flex;
    justify-content: center;
    gap: 18px 28px;
    padding-top: 30px;
    padding-bottom: 150px;
}

.section4{
    background-color: #252B42;
    padding: 0 196px;
}
.section4 h2{
    color: var(--light-text-color, #FFF);
    text-align: center;
    padding: 5px 0;
/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}
.section4 p{
    color: var(--light-text-color, #FFF);
text-align: center;
padding-bottom: 5px;
/* paragraph */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}

.sec4-img {
    padding-top: 60px;
    padding-bottom: 360px;
    display: flex;
    gap: 20px;
}

.section5{
    background-color: #252B42;
    padding: 0 196px;
    display: flex;
    gap: 150px;
    padding-bottom: 370px;
}

.section5 h2{
    color: var(--light-text-color, #FFF);
    padding-bottom: 10px;
/* h2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}
.section5 p{
    color: var(--light-text-color, #FFF);
/* paragraph */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.2px;
}

.section6{
    background-color: #fff;
}
.section6 h2{
    margin-left: 30px;
    color: #fff;
}

.section6 .sec6-img{
    background-color: #737373;
    height: 400px;
    width: 300px;
}
.secttion6-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    bottom: 200px;
}
.secttion6-container form label, input{
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.secttion6-container form  label{
    margin-bottom: 10px;
    color: #FFF;
}
.secttion6-container form  select,button{
    margin-left: 10px;
    width: 100%;
    padding: 10px 15px;
}
.secttion6-container form  button{
    background-color: #23A6F0;
    border: none;
    border-radius: 5px;
}

footer{
    display: flex;
    background-color: #252B42;
    justify-content: space-between;
    padding: 25px 196px;
    margin-bottom: 20px;
}
footer h2, li{
    color: #fff;
    padding: 10px 0;
}