*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
}
.container{
    width: 60%;
    height: 60vh;
    margin: 20px;
}
h1,p{
    padding: 15px;
}
h1{
    font-size: 44px;
}
.box{
    width: 70px;
    height: 70px;
    background-color: red;
    position: absolute;
    margin: 10px;
    top: 0;
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease;
}
@keyframes slide{
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}