*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 400vh;
}
p{
    font-weight: bold;
    margin: 20px;
    font-size: 22px;
}
.sticky{
    background-color: green;
    padding: 10px;
    color: white;
    font-size: 24px;
    margin: 20px;
    position: sticky;
    top: 0;
}