* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }
  header {
    background-color: rgb(48, 111, 106);
    height: 50px;
    text-align: center;
    padding-top: 10px;
  }
  .area {
    float: left;
  }
  .left-side {
    background-color: rgb(243, 75, 29);
    height: 150px;
    text-align: center;
    padding-top: 30px;
    width: 25%;
  }
  .content {
    background-color: rgb(28, 183, 26);
    height: 150px;
    text-align: center;
    padding-top: 30px;
    width: 50%;
  }
  .right-side {
    background-color: rgb(205, 196, 11);
    height: 150px;
    text-align: center;
    padding-top: 30px;
    width: 25%;
  }
  footer {
    background-color: blueviolet;
    text-align: center;
  }
  footer .footer {
    margin: 50px 100px;
    background-color: rgb(183, 66, 91);
    display: inline-block;
    width: 120px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
  }