*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100vh;
    margin: 0 auto;
    width: 50%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    font-size: 25px;
    gap: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(1){
    background-color: yellow;
    border-bottom: 10px solid darkorchid;
}

.box:nth-child(2){
    background-color: darkorchid;
    border-bottom: 10px solid lightskyblue;
}


.box:nth-child(3){
    background-color: lightskyblue;
    border-bottom: 10px solid orangered;
}

.box:nth-child(4){
    background-color: orangered;
    border-bottom: 10px solid lightskyblue;
}






